.page-footer {
    background-color: #3A77BD;
  }

  .card-img-top {
  	padding: 15px;
  	height: 300px;
  	object-fit: contain;
  }

  .paginationv-top{
    margin-top: 20px;	
  }

  .footer-copyright {
    color: #A5C0E0;	
  }

  .footer-content {
  	color: white;
  }
  
  .users {
    margin: 15px;
  }